.middle{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 150px;
}
.city{
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}
.temp{
  color: white;
  font-size: 6rem;
  font-weight: bold;
}
.conditions{
  color: white;
  font-size: 2.2rem;
  transform: rotate(-91deg);
  position: relative;
  left: 55px;
  top: 25px;
}